// the purpose of this file is to add eslint live on your editor, but it is
// not recommended to override the base rules. The lint task will ignore any
// rules set directly here.
{
  // this is an ugly way to import the base rules without needing to create an
  // specific package for the eslint config
  "extends": "./node_modules/@allspark-js/builder/config/.eslintrc"
}
